<launch>

    <!-- Encoder Reader -->
    <node name="encoders" pkg="us_digital_encoders" type="taylor_dunn_node.py" />
    <node name="encoder_data" pkg="us_digital_encoders" type="encoder_data.py" />

    <!-- Steering PID controller -->
    <node name="steering_pid" pkg="pid" type="controller" ns="steering" output="screen" >
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="0.1" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="10" />
      <param name="cutoff_frequency" value="20" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />
      <remap from="steering/setpoint" to="/setpoint" />
     </node>

    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="steering/control_effort/data steering/state/data steering/setpoint/data" />

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

    <node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" />

    <!-- Throttle PID controller -->



    <!-- Reset Node -->
    <node name="reset_node" pkg="car_control" type="reset.py" />

    <!-- ROS node graph -->
    <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph" />

</launch>

